<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container">
    <img src="https://i.ibb.co/MMvt2Ch/rsg-logo.png" href="/home" height="100" width="140"> <!--Edit the logo here: https://logomakr.com/62ypz0 -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-Link" href="/challenge/dance">Dance <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-Link" href="/challenge/food">Food <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-Link" href="/challenge/acting">Acting <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-Link" href="/challenge/music">Music <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-Link" href="/challenge/art">Art <span class="sr-only">(current)</span></a>
        </li>
        {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/challenges/new">New Challenge</a>
          </li>
        {{/if}}
      </ul>
    </div>
    <!-- TODO: This looks like crap on small screens -->
    <form class="form-inline" method="POST" action="/logout">
      <button class="btn btn-danger" type="submit">Logout</button>
    </form>
  </div>
</nav>
