<form id="suggestion" method="POST" action="./challenges.html">
  <label for="suggest">Suggest a challenge here: </label>
  <input type="text" id="suggest" name="suggest" value="eg. do a backflip!">
  <label for="points">Enter how many points the challenge would earn: </label>
  <input type="number" id="points" name="points" value="0">
  <label for="category">What category is your challenge under? </label>
    <input type="checkbox" id="dance" name="dance">
    <label for="dance">Dance</label>
    <input type="checkbox" id="prank" name="prank">
    <label for="prank">Prank</label>
    <input type="checkbox" id="talent" name="talent">
    <label for="talent">Talent</label>
  <input type="submit" value="Submit" class="submit" onclick="">
</form>
