<style>
  .upload{
    margin: 0 0 0 15px;
  }
</style>

{{#if errors}}
  <ul>
    {{#each errors}}
      {{#each this}}
        <li>{{@../key}} {{message}}</li>
      {{/each}}
    {{/each}}
  </ul>
{{/if}}

<div class="col-6">
  <h1>   </h1>
<form method="POST" action="/challenges" enctype="multipart/form-data" margin="20px 0 0 0">
  <div class="form-group row">
    <label class="col-4 col-form-label" for="challenge-title">Challenge Hashtag</label>

    <div class="col">
      <input name="challenge[title]" type="text" class="form-control" id="challenge-title">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label" for="challenge-caption">Caption</label>
 <div class="col">
      <input name="challenge[caption]" type="text" class="form-control" id="challenge-caption">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-4 col-form-label" for="category">Challenge Category? </label>
    <div class="col">
      <select name="challenge[categoryId]" id="challenge-category_id">
        <option value="">Select a category</option>
          {{#each allCategories}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
      </select>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-4 col-form-label" for="challenge-video">Video Upload</label>
      <input class="upload" key = "video" type="file" name="fileToUpload" accept="video/*">
  </div>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
</div>
