
{{#each challenge}}
<h2>{{category.name}} Challenge: {{title}}</h2>
<video height= "300" width= "300" controls>
<source src="{{video.videoLink}}" type="video/mp4">
</video>
<p>{{caption}}</p>

{{/each}}
